$wizard-sub-theme-color: #de4d88 !default;
$wizard-round-theme-color: #777675 !default;
$inactive-font-color:  #000000 !default;
$wizard-theme-color: #202020 !default;
$wizard-tabcontrol-theme-color: #313131 !default;
$wizard-round-vertical-left: 20px !default;
$wizard-sub-step-height: 88px !default;


