// theme colors
$wizard-round-theme-color: #fe9901 !default;
$wizard-sub-theme-color: #de4d88 !default;
$wizard-tabcontrol-theme-color: #fe9901 !default;
$wizard-theme-color: #fe9901 !default;

// dimensions
$wizard-round-vertical-left: 20px !default;
$wizard-sub-step-height: 88px !default;

// font colors
$inactive-font-color:  #575757 !default;


